@page "/index"

@using Microsoft.JSInterop
@inject IJSRuntime js

<button @onclick="ToggleColorAsync" style="color:@clr">Toggle color between black and red</button>

<button type="button" @onclick="@(e => ChangeTool("pencil"))">Kalem</button>
<button type="button" @onclick="@(e => ChangeTool("rectangle"))">Dikdörtgen</button>
<div @ref="container">
    <Canvas 
    
    @onmousemove="MouseMoveCanvasAsync" @ontouchmove="TouchMoveCanvasAsync"
            @onmouseup="MouseUpCanvas" @ontouchend="TouchUpCanvas"
            @onmousedown="MouseDownCanvas" @ontouchstart="TouchDownCanvas"
            width="@_width"
            height="@_height"
            @ref="_context"
            style="border: 1px solid red"></Canvas>
</div>
