@layout EmptLayout
@page "/play"

<section @ref="_container" class="design-surface">
    <Canvas @ref="_mainCanvas" width="@_width" height="@_height"></Canvas>
</section>
<section style="position: absolute;
z-index: 15;
left: 0;
bottom: 100px;
height: 50px;
width: 50px;
background: red;">
    <textarea @bind="JsonStr"></textarea>
    <button type="button"
            @onclick="@(e => PlayVid())"
            class="btn btn-warning ">
        Oynat Bakalım
    </button>
</section>