@page "/test"

<Canvas style="position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: red;
z-index: 999;"
     @ontouchmove="OnTouchMove"
     @ontouchend="OnTouchEnd"
     @ontouchstart="OnTouchStart">  
</Canvas>


<span style="color:black; position:fixed;bottom:0;left:0;right:0;">@_message</span>