@layout EmptLayout
@page "/widget"

<section @ref="_container" class="design-surface">
    <Canvas @ref="_tempCanvas"
            @onmousemove="MouseMoveCanvasAsync"
            @onmouseup="MouseUpCanvas"
            @onmousedown="MouseDownCanvas"
            style="border: 1px solid red"></Canvas>

    <Canvas @ref="_mainCanvas" style="border: 1px solid red"></Canvas>
</section>

<table class="table">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>